<!DOCTYPE html>
<html>
<head>
   <title>Working In Concert</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta charset="utf8">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
   <link rel="stylesheet" href="/public/main.css">
   <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
   <header class="header">
      <div class="hero is-danger is-bold">
         <div class="hero-body">
            <div class="container">
               <h1 class="title has-text-centered">Working In Concert</h1>
               <h2 class="subtitle has-text-centered">Improving international marketing and inspiring global collaboration in music</h2>
            </div>
         </div>
      </div>
   </header>
   <div id="app">
      <section class="section" v-if="step == 1">
         <div class="container">
            <div class="column is-4 is-center">
               <h2 class="title">Step One</h2>
               <h3 class="subtitle">Upload an audio file of your music 🎸</h3>
               <div class="form">
                  <label for="name" class="label">Name</label>
                  <input :bind='form.name' class="input" type="text" placeholder="Name" id="name" name="name"><br><br>
                  <label for="email" class="label">Email</label>
                  <input :bind='form.email' class="input" type="email" placeholder="email@example.com" id="email" name="email"><br><br>
                  <div class="file is-boxed is-fullwidth">
                     <label class="file-label">
                        <input class="file-input" type="file" name="file" id="file" @change="selectedFile">
                        <span class="file-cta">
                           <span class="file-icon">
                              <i class="fas fa-upload"></i>
                           </span>
                           <span class="file-label has-text-centered">
                              {{ form.fileValue ? form.fileValue : "Choose a file..." }}
                           </span>
                        </span>
                     </label>
                  </div>
                  <br>
                  <button class="button is-danger is-fullwidth" @click='submit'>Get Feedback</button>
               </div>
            </div>
         </div>
      </section>
      <section class="section" v-if="step == 2">
         <div class="container">
            <div class="column is-4 is-center">
               <h2 class="title">Step Two</h2>
               <h3 class="subtitle">Give us some time, our robots are analyzing your music 🤖</h3>
               <div class="wave-loader">
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
               </div>
            </div>
         </div>
      </section>
      <section class="section" v-if="step == 3">
         <div class="container">
            <div class="column is-4 is-center">
               <h2 class="title">Step Three</h2>
               <h3 class="subtitle">Here's what we think you can do to improve your chance at success 📈</h3>
               <h3 class='subtitle has-text-centered'>You scored a</h3>
               <h2 class='is-size-0 has-text-danger has-text-centered'>{{ Math.floor(feedback.score * 100) / 10 }}</h2>
               <h3 class='subtitle'>That's pretty impressive, {{ form.name  }}! Based on similar how similar songs perform, we think you should focus on {{ feedback.tips.length == 1 ? feedback.tips[0] : feedback.tips.slice(0, feedback.tips.length - 1).join(', ') + ' and ' + feedback.tips[feedback.tips.length - 1] }}.</h3>
               <a class="button is-center is-danger" @click="nextStep">Who should I collaborate with?</a>
            </div>
         </div>
      </section>
      <section class="section" v-if="step == 4">
         <div class="container">
            <div class="column is-4 is-center">
               <h2 class="title">Step Four</h2>
               <h3 class="subtitle">Try collaborating with people across the world — these people produce music similar to yours 🌍</h3>
            </div>
            <br>
            <div class="horizontal-container">
               <div class="users">
                  <div class="card user" v-for="user in recommendedUsers">
                     <div class="card-content">
                        <p class="title">
                           <img :src=user.image class="profile-icon"> {{ user.name }} {{ user.flag }}
                        </p>
                        <p class="subtitle profile-description">
                           {{ user.bio }}
                        </p>
                     </div>
                     <footer class="card-footer">
                        <p class="card-footer-item">
                           <span>
                              Send a <a href="#" @click='toggleModal'>message</a>
                           </span>
                        </p>
                        <p class="card-footer-item">
                           <span>
                              Add to <a href="#">Miro</a>
                           </span>
                        </p>
                     </footer>
                  </div>
                  <h2 class="title"><br><br><br><br>That's all we have for you right now!</h2>
               </div>
            </div>
            <div class="fade-overlay-left"></div>
            <div class="fade-overlay-right"></div>
         </div>
      </section>
      <div class="modal" v-if='talking' style='display: block'>
        <div class="modal-background" @click='toggleModal'></div>
        <div class="modal-content">
            <br><br><br>
            <div class="box">
               <div class="messages">
                  <div class="box" v-for='message in messages'>
                     <h2 class="title is-size-5"><img v-bind:src="'https://avatar-api.org/avatar.svg?size=30&name=' + message.name"><span style='position: relative; top: -7px'>  {{ message.name }}</span></h2>
                     <p class="subtitle is-size-6">{{ message.message }}</p>
                  </div>
               </div>
            <br>
            <div class="send">
               <div class="field has-addons send">
                  <div class="control is-expanded">
                     <input class="input" id='message' type="text" placeholder="Collaborate here">
                  </div>
                  <div class="control">
                     <a class="button is-danger" @click='send'>
                        Send
                     </a>
                  </div>
               </div>
            </div>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click='toggleModal'></button>
      </div>
   </div>
   <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="dsplay: none"></iframe>
   <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
   <script src="/public/socket.io.js"></script>
   <script>
      var app;

      socket = io('http://localhost:5678/');
      
      socket.on('toUser', function (data) {
         data = JSON.parse(data);
         data.message = data.message.data.translations[0].translatedText;
         app.$data.messages.push(data);
      });

      app = new Vue({
         el: "#app",
         data: {
            step: 1,
            talking: false,
            messages: [],
            feedback: {
               score: null,
               tips: []
            },
            form: {
               name: 'Bob',
               email: '',
               fileValue: null
            },
            recommendedUsers: [
               {
                  image: "https://zblogged.com/wp-content/uploads/2015/11/5.png",
                  name: "George Levine",
                  flag: "🇲🇽",
                  bio: "According to all known laws of aviation, there is no way a bee should be able to fly. Its wings are too small to get its fat little body off the ground. The bee, of course, flies anyway because bees don't care what humans think is impossible."
               },
               {
                  image: "https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTU0OTkwNDUxOTQ5MDUzNDQ3/kanye-west-attends-the-christian-dior-show-as-part-of-the-paris-fashion-week-womenswear-fall-winter-2015-2016-on-march-6-2015-in-paris-france-photo-by-dominique-charriau-wireimage-square.jpg",
                  name: "Kanye West",
                  flag: "🇺🇸",
                  bio: "I'm a Grammy Award-winning rapper and record producer and fashion designer. Outspoken and prone to controversy, I became additional celebrity fodder with his marriage to Kim Kardashian."
               },
               {
                  image: "https://pbs.twimg.com/profile_images/378800000046152964/30d4426afcd80ed657c6aa9723013a2a_400x400.jpeg",
                  name: "Sophia Keathly",
                  flag: "🇫🇷",
                  bio: "I'm a Grammy Award-winning rapper and record producer and fashion designer. Outspoken and prone to controversy, I became additional celebrity fodder with his marriage to Kim Kardashian."
               }
            ]
         },
         methods: {
            nextStep: function () {
               let vueThis = this;
               $("#app").fadeOut(null, function () {
                  ++vueThis.step;
                  setTimeout(() => {
                     $("#app").fadeIn();
                  }, 100)
               });
            },
            selectedFile: function (e) {
               this.form.fileValue = e.srcElement.value.substring(12);
            },
            submit: function () {
               let vueThis = this;
               let formData = new FormData();
               formData.append('file', $('input[type=file]')[0].files[0]);
               this.form.name = $('#name').val();
               this.form.email = $('#email').val();
               $.ajax({
                  url: 'http://localhost:5678/submit/' + $('#name').val() + '/' + $('#email').val() + '/',
                  type: 'POST', 
                  data: formData, 
                  contentType: false, 
                  processData: false, 
                  timeout: 30000,
                  success: function (data) {
                     vueThis.feedback = data;
                     vueThis.nextStep();
                  }
               })
               this.nextStep();
            },
            send: function () {
               let data = {
                  name: this.form.name,
                  message: $('#message').val()
               }
               socket.emit('toGeorge', JSON.stringify(data));
               $('#message').val("");
               this.messages.push(data);
               $('.messages').animate({ scrollTop: 100000 }, 1000);
            },
            toggleModal: function () {
               this.talking = !this.talking;
            }
         },
      })
   </script>
</body>
</html>